h1{
    font-family: 'Saira Extra Condensed';
    font-style: normal;
    font-weight: 500;
}

h2{
    font-family: 'Saira Extra Condensed';
    font-style: normal;
    font-size: 30px;
}

.containerPg01{
    background-color: aquamarine;
    width: 100vw;
    height: 80vh;   
}

.containerPg02{
    background-color:cadetblue;
    width: 100vw;
    height: 80vh;
}

.aboutMe{
    background-color:cadetblue;    
    width: 100%;
    height: 100%;    
    text-align: center;
}

.skills{
    background-color:aqua;    
    width: 100%;
    height: 100%;    
    text-align: center;
}

.experience{
    background-color:burlywood;    
    width: 100%;
    height: 100%;    
    text-align: center;
}