h1{
    font-family: 'Saira Extra Condensed';
    font-style: normal;
    font-weight: 500;
}

.containerPg01{
    background-color: aquamarine;
    width: 100vw;
    height: 80vh;   
}

.containerPg02{
    background-color:cadetblue;
    width: 100vw;
    height: 80vh;
}


.nav-item{
    background-color:cadetblue;
    width: 5vw;
    height: 70px;
    margin-top: -8px;
    margin-bottom: -8px;
    text-align: center;
}